# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example
*.tar.zst
